body {
    margin: 60px auto;
    width: 30%;
    background-color: white);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: purple;
}


a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

img{
    width: 272px;
    height: 408px;
    border-radius: 10px;
    float: right;
    padding-left: 15px;

}

img:hover {
  filter: grayscale(50%);
}

#specialImage{
  width: (100%);
  height: auto;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.1em;
}

ul.posts li {
    list-style: none;
}

.header {
  padding:10px;
  background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
/*  background-color: rgba(101, 31, 214, 0.15); */
  text-align: center;
}

.header a {
  font-size: 3.5em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  color: black;
}

.header: hover {
  text-decoration: none;
}

.header a: hover {
  text-decoration: none;
}
