<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<div class="header">
			<a href="/">Andrew Schwartz</a>
</div>
		<body>
			<nav>
				<ul>
						<li><a href="/">Hello</a></li>
						<li><a href="/writing">Writing</a></li>
						<li><a href="/audio">Audio</a></li>
				</ul>
		  </nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aonschwartz@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
